* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

/* HEADER */
header {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #ffde59;
}

/* HERO */
.hero {
  background: url("https://i.imgur.com/dlKxX8E.jpeg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero-text {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px 40px;
  border-radius: 10px;
}

.hero h1 {
  color: #ffde59;
  font-size: 45px;
  margin-bottom: 10px;
}

.hero p {
  color: white;
  font-size: 18px;
}

/* SECTION TITLE */
.section {
  padding: 80px 50px;
  text-align: center;
  background: white;
}

.section:nth-child(even) {
  background: #f3f3f3;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2b4d3a;
}

/* PRODUCT GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin-top: 15px;
}

.harga {
  color: #2b4d3a;
  font-weight: bold;
  margin-top: 8px;
}

/* SERVICE GRID */
.grid-service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-box {
  background: #2b4d3a;
  color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service-box h3 {
  margin-bottom: 10px;
  color: #ffde59;
}

/* CONTACT */
.contact p {
  font-size: 18px;
}

/* FOOTER */
footer {
  background: #2b4d3a;
  color: white;
  text-align: center;
  padding: 20px;
}

.fitur {
  font-size: 14px;
  margin-top: 10px;
  padding: 0 15px;
  color: #444;
  line-height: 1.4;
}
